<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать звонок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Редактировать звонок</h1>
<form action="#" th:action="@{/calls/edit/{id}(id=${call.callID})}" th:object="${call}" method="post">
    <input type="hidden" th:field="*{callID}" />
    <p>Абонент: <input type="text" th:field="*{subscriberNumber}" /></p>
    <p>Вызываемый номер: <input type="text" th:field="*{calledNumber}" /></p>
    <p>Время звонка: <input type="datetime-local" th:field="*{callDateTime}" /></p>
    <p>Длительность (сек): <input type="number" th:field="*{durationSeconds}" /></p>
    <p>Тариф: <input type="number" step="0.01" th:field="*{tariffRate}" /></p>
    <p><input type="submit" value="Сохранить" /></p>
</form>
<a th:href="@{/calls}">Назад к списку</a>
</body>
</html>